@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <p>GibJohn tutoring may colllect data for the purpose of monitoring progress and tailoring your experience.</p>
    <p>Any data collected is to be used solely for the functionality of this solution and will be stored securely on our servers.</p>
</div>