@using GibJohn.Data;
@using System.Security.Claims;
@model IEnumerable<GibJohn.Models.Course>
@inject ApplicationDbContext DbContext

@{
    string userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
}
@{
    ViewData["Title"] = "Index";
}

<!---Check if theres any data--->
@if (Model != null)
{
    <h1 class="text-center">My Courses</h1>
    <p class="text-center">View your courses below!</p>

    // Container which arranges the courses into a grid
    <div class="container-fluid courses">
        <div class="row">
            <!--Loop through every item and generate HTML elements with properties as attributes-->
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 col-sm-12 spacing">
                    <div class="card" style="width: 22rem;">
                        <!--Check if there's an image set, if not set it to spaceholder image-->
                        <img class="card-img-top" src="@item.ImagePath" alt="Card image cap" style="height: 11rem;">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <p class="text-center">You haven't signed up for any courses yet!</p>
}

